.upload-container {
  padding: 30px;
  text-align: center;
  background: aliceblue;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

button {
  padding: 15px 10px !important;
  border-radius: 20px !important;
  border: none !important;
  background: bisque;
  font-weight: bold;
  cursor: pointer;
}



.image-container {
  column-count: 4;
  column-gap: 1em;
  margin: 20px;
}

.image {
  margin: 0 0 1em;
  width: 100%;
}

.image img {
  width: 100%;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}